.Footer {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 20px;

    &-logo {
        width: 122px;;
    }

    &-copyright {
        color: white;
    }

  }