@import 'variables'; // Importation des variables

.about {

    &-banner2 {
        position: relative;  // Pour positionner le texte au-dessus de l'image
        background-image: $about-banner-background-image; // Applique l'image en arrière-plan
        background-size: cover; // Pour couvrir toute la div
        background-position: center; // Centre l'image
        height: $banner-height; // Hauteur de la bannière
        width: $banner-width; // Largeur de 90% de la taille de l'écran
        margin: $banner-margin; // Centrer la bannière horizontalement
        border-radius: 25px;
      }

}

.collapse {
    
  &-object {
      padding: 20px;
      color: $secondary-color;
      font: $font-nav;
   }

  &-item {
      background-color: $tertiary-color;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
      border-radius: $card-border-radius;
      padding-right: 20px;
  }

  &-content {
      background-color: $superCard-color;
      padding-top: 5px;
      padding-left: 10px;
      padding-bottom: 5px;
  }

  &-text {
      color: $primary-color;
      font-size: 20px;
  }

}   



