@import 'variables'; 

.about {

    &-banner {
        background-image: $about-banner-background-image;
        margin: $banner-margin;
      }

}

.collapse {
    padding: 20px 10%;

    @media (max-width: 768px) {
        padding: 20px 3%;
    }  

  &-content {
      padding-top: 5px;
      padding-left: 10px;
      padding-bottom: 5px;
  }

}   


