@import 'variables'; // Importation des variables

.about {

    &-collapse {
    padding-left: 10%;
    padding-right: 10%;
    }

    &-banner2 {
        position: relative;  // Pour positionner le texte au-dessus de l'image
        background-image: $about-banner-background-image; // Applique l'image en arrière-plan
        background-size: cover; // Pour couvrir toute la div
        background-position: center; // Centre l'image
        height: $banner-height; // Hauteur de la bannière
        width: $banner-width; // Largeur de 90% de la taille de l'écran
        margin: $banner-margin; // Centrer la bannière horizontalement
        border-radius: 25px;
      }

}   



