@import 'variables';
@import 'variablesMedia'; 

.banner {
    position: relative;  
    background-size: cover; 
    background-position: center;
    height: $banner-height; 
    border-radius: 25px;
    margin-right: $margin-logo-hori;
    margin-left: $margin-logo-hori; 
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        height: 111px;
        margin-right: $media-margin-logo-hori;
        margin-left: $media-margin-logo-hori; 
        border-radius: 10px;
    }

    &-title {
        color: $secondary-color;
        font: $font-banner;
        z-index: 1;           
        text-align: center;   
    
        @media (max-width: 768px) {
            text-align: left;
            font:$media-font-banner;
            padding-left: 5%;
        }
    
      }

  }