@import 'variables'; // Importation des variables

.banner {
  position: relative;      // Pour positionner le texte au-dessus de l'image
  background-size: cover;  // Pour couvrir toute la div
  background-position: center; // Centre l'image
  height: $banner-height;  // Hauteur de la bannière
  width: $banner-width;    // Largeur de 90% de la taille de l'écran
  margin: $banner-margin;  // Centrer la bannière horizontalement
  border-radius: 25px;
  display: flex;
  align-items: center;

  &-text {
    color: $secondary-color;
    font: $font-banner;
    z-index: 1;           // S'assure que le texte soit au-dessus de l'image
    text-align: center;   // Centrer le texte si c'est sur plusieurs lignes
    padding-top: 80px;
  }
}
