@import 'variables'; 

.card {
    background-color: $tertiary-color;
    border-radius: $card-border-radius;

    &-image {
        width: 100%;
        height: 250px;
        border-radius: $card-border-radius;
        object-fit: cover;
    }
    
    &-title {
        font: $card-font;
        color: $secondary-color;
        margin-left: 15px;
    }

}
