@import 'variables'; // Importation des variables

.collapse {
    padding: 20px;
    color: $secondary-color;
    font: $font-nav;

    &-item {
        background-color: $tertiary-color;
        height: 54px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

}