@import 'variables'; 

.footer {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: $padding-logo-white; 
    height: 25%;

    &-logo {
        width: $logo-width;
    }

    &-copyright {
        color: $secondary-color;

        @media (max-width: 768px) {
            font: 500 12px 'Montserrat';
            width: 90px;
        }
    

    }

  }