@import 'variables';
@import 'variablesMedia'; 

.footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-logo {
        width: 80px;
    }

    &-copyright {
        color: $secondary-color;

        @media (max-width: $media-queries-mobile) {
            font: 500 12px 'Montserrat';
        }
    }

  }