@import 'variables'; // Importation des variables
@import 'variablesMedia'; // Importation des variables media queries

.header {
    display: flex;
    justify-content: space-between;
    margin: $margin-logo-red;  
    height: $logo-height;

    @media (max-width: 768px) {
        margin: $media-margin-logo-red;
    }


    &-header-logoLink {
        height: $logo-height;
    }

    &-logo {
        height: $logo-height;

        @media (max-width: 768px) {
            height: $media-logo-height;
        }
    }

    &-nav {
        display: flex;
        gap: $gap;
        font: $font-nav; 
        line-height: $font-nav-line-height; 

        @media (max-width: 768px) {
            font: $media-font-nav; 
            line-height: $media-font-nav-line-height; 
            position: relative;
            top: 20%;
            gap: $media-gap;
        }
    }

    &-link {
        text-decoration: $link-decoration;
        height: $logo-height;
        color: $primary-color;

        // Styles pour le lien au survol
        &:hover {
            text-decoration: $link-decoration-hover; // Ajoute le soulignement au survol
        }
    }

    &-linkActive {
        text-decoration: underline;
    }

}
