@import 'variables'; // Importation des variables

.header {
    display: flex;
    justify-content: space-between;
    margin: $margin-logo-red;  // Les margins combinés en une seule ligne (top, right/left, bottom)

    &-nav {
        display: flex;
        gap: $gap;
    }

    &-link {
        text-decoration: $link-decoration;

        // Styles pour le lien au survol
        &:hover {
            text-decoration: $link-decoration-hover; // Ajoute le soulignement au survol
        }
    }
}
