@import 'variables'; 
@import 'variablesMedia'; 

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: $screen-maw-width;
    padding-top: 30px;

    &-logo {
        height: 48px;
        padding-left: $screen-padding;

        @media (max-width: $media-queries-mobile) {
            height: 33px;
            padding-left: $media-screen-padding;
        }
    }

    &-nav {
        display: flex;
        gap: 50px;
        padding-right: $screen-padding;
        font: $font-nav; 

        @media (max-width: $media-queries-mobile) {
            font: $media-font-nav; 
            gap: 25px;
            padding-right: $media-screen-padding;
        }
    }

    &-link {
        text-decoration: $link-decoration;
        height: $logo-height;
        color: $primary-color;

        &:hover {
            text-decoration: $link-decoration-hover; 
        }
    }

    &-linkActive {
        text-decoration: underline;
    }

}
