@import 'variables'; // Importation des variables
@import 'variablesMedia';

.bannerHome {
    position: relative;  // Pour positionner le texte au-dessus de l'image
    background-image: $home-banner-background-image; // Applique l'image en arrière-plan
    background-size: cover; // Pour couvrir toute la div
    background-position: center; // Centre l'image
    height: $banner-height; // Hauteur de la bannière
    width: $banner-width; // Largeur de 90% de la taille de l'écran
    margin: $banner-margin; // Centrer la bannière horizontalement
    border-radius: 25px;
  }

  .bannerHomeText {
    color: $secondary-color;
    font: $font-banner;
    z-index: 1;           // S'assure que le texte soit au-dessus de l'image
    text-align: center;   
    padding-top: 80px;

    @media (max-width: 768px) {
        text-align: left;
        font:$madia-font-banner;
        padding-left: 20px;
        width: 190px;
    }

  }

.home {
    background-color:  $superCard-color;
    width: $banner-width;     // Largeur de 90% de la taille de l'écran
    margin: $banner-margin;   // Centrer la bannière horizontalement
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    justify-content: center;
    border-radius: $card-border-radius;
    padding-top: $superCard-padding;
    padding-bottom: $superCard-padding;
    margin-top: $superCard-margin;
    margin-bottom: $superCard-margin;

    &-card {
        background-color: $tertiary-color;
        width: $card-width;
        height: $card-width;
        border-radius: $card-border-radius;
    }
    
    &-cardImage {
        width: 100%;
        height: 250px;
        border-radius: $card-border-radius;
    }
    
    &-cardTitle {
        font: $card-font;
        color: $secondary-color;
        width: 50%;
        margin-left: 15px;
    }

    &-linkHousing {
        text-decoration: none;
    }


}