@import 'variables'; 
@import 'variablesMedia';


.home {

    &-banner { 
        background-image: $home-banner-background-image;
        margin: $banner-margin; 
    }

    &-housing {
    background-color:  $superCard-color;
    width: $banner-width;     
    margin: $banner-margin;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 75px 0;
    justify-items: center; 
    border-radius: $card-border-radius;
    padding-top: $superCard-padding;
    padding-bottom: $superCard-padding;
    margin-top: $superCard-margin;
    margin-bottom: $superCard-margin;
    
    
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            padding-top: $media-superCard-padding;
            padding-bottom: $media-superCard-padding;
            margin-top: $media-superCard-margin;
            margin-bottom: $media-superCard-margin;
            gap: 15px;
        }
    
    }

    &-linkHousing {
        text-decoration: none;
    }

    &-card {
        width: 25vw;
        height: $card-width;
    
        @media (max-width: 768px) {
            width: 86vw;
        }
    
    }

}









