@import 'variables'; // Importation des variables

.bannerHousingSheet{
    position: relative;  // Pour positionner le texte au-dessus de l'image
    background-size: cover; // Pour couvrir toute la div
    background-position: center; // Centre l'image
    height: $banner-height; // Hauteur de la bannière
    width: $banner-width; // Largeur de 90% de la taille de l'écran
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    border-radius: 25px;

    &-image {
        height: 415px;
        width: $banner-width;
        object-fit: cover; 
        border-radius: $cover-border-radius;
        z-index: 1;
    }

    &-title {
        font: $font-notFound-message;
        color: $tertiary-color;
    }

    &-location {
        font: $font-notFound-backHome;
        position: relative;
        bottom: 8%;
    }

    &-tagList {
        display: flex;
        gap: 10px;
    }

    &-host {
        position: relative;
        left: 88%;
        bottom: 60%;
    }

    &-empty {
        color: lightgray; // Couleur par défaut des étoiles
        margin-right: 2px; // Espace entre les étoiles
        font-size: 30px; // Taille de la police pour les étoiles
      }
  
    &-filled {
        color: $tertiary-color; // Couleur des étoiles remplies
    }



}

.housingSheet {

    &-wraper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $gap;
    }

}

 

