@import 'variables';
@import 'variablesMedia'; 
 
.index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: $font-text;

  &-container {
    max-width: $screen-maw-width;
  }

}

