@import 'variables'; 
@import 'variablesMedia'; 

.notFound {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: -5%;

    @media (max-width: $media-queries-mobile) {
        gap: 70px;
    }

    &-404 {
        color: $tertiary-color;
        font: $font-404;

        @media (max-width: $media-queries-mobile) {
            font: $media-font-404;
        }

    }

    &-message {
        font: $font-notFound-message;
        color: $tertiary-color;
        margin-top: -10%;
        margin-bottom: 10%;
        display: flex;
        gap: 10px;

        @media (max-width: $media-queries-mobile) {
            font: $media-font-notFound-message;
            width: 174.96px;
            flex-direction: column;
            align-items: center;
            gap: 0;
        }

    }

    &-messageTop {
        white-space: nowrap;

        @media (max-width: $media-queries-mobile) {
        }
       
    }

    &-messageBottom {

        @media (max-width: $media-queries-mobile) {
            white-space: nowrap;
        }
       
    }

    &-linkBackHome {
        font: $font-notFound-backHome;
        margin-bottom: 10%;
        color: black; 

        @media (max-width: $media-queries-mobile) {
            font: $media-font-notFound-backHome;
        }

    }
}