@import 'variables'; 
@import 'variablesMedia'; 

.notFound {
    padding-left: $screen-padding;
    padding-right: $screen-padding;
    display: grid;
    grid-template-rows: 1fr 1fr;

    @media (max-width: $media-queries-mobile) {
        padding-left: $media-screen-padding;
        padding-right: $media-screen-padding;
    }

    &-404 {
        color: $tertiary-color;
        font: 700 288px $font-text;
        display: flex;
        justify-content: center;

        @media (max-width: $media-queries-mobile) {
            font: 700 96px $font-text;
        }

    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &-message {
        font: 500 36px $font-text;
        color: $tertiary-color;
        display: flex;
        //flex-direction: column;
        //align-items: center;
        //text-align: right;
        gap: 10px;

        @media (max-width: $media-queries-mobile) {
            font: 500 18px $font-text;
            //width: 174.96px;
            flex-direction: column;
            text-align: center;
            gap: 0;
        }

    }

    &-messageTop {
        white-space: nowrap;
        @media (max-width: $media-queries-mobile) {
            
        }
       
    }
    

    &-messageBottom {

        @media (max-width: $media-queries-mobile) {
            white-space: nowrap;
        }
       
    }

    &-linkBackHome {
        $font-notFound-backHome : 500 18px $font-text;
        color: black;

        @media (max-width: $media-queries-mobile) {
            font: 500 14px $font-text;
        }

    }
}