@import 'variables'; // Importation des variables

.rating {
    display: flex;
    gap: 15px;
}

.empty {
    color: lightgray; // Couleur par défaut des étoiles
    font-size: 30px; // Taille de la police pour les étoiles
  }

.filled {
    color: $tertiary-color; // Couleur des étoiles remplies
}