@import 'variables'; 

.slideshow {
    height: 415px;
    width: 100%;
    object-fit: cover; 
    border-radius: $cover-border-radius;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 768px) {
        height: 255px; 
    }

    &-chevrons {
        display: flex;
        justify-content: space-between;
        font-size: 100px;
        color: $secondary-color;

        @media (max-width: 768px) {
            font-size: 20px;
            top: 130px;
        }  

    }

    &-chevronPrev {
        position: $slideShow-button-position;
        left: $slideShow-button-distance-sides;
    }

    &-chevronNext {
        position: $slideShow-button-position;
        right: $slideShow-button-distance-sides;
    }

    &-number {   
        position: relative;
        top: 30%;
        color: $secondary-color;
        display: flex;
        justify-content: center;
        align-items: end;
    }

}
