@import 'variables'; 

.slideshow {

    &-chevrons {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 250px;
        font-size: 100px;
        color: $secondary-color;

        @media (max-width: 768px) {
            font-size: 20px;
            top: 130px;
        }  

    }

    &-chevronPrev {
        position: $slideShow-button-position;
        left: $slideShow-button-distance-sides;
    }

    &-chevronNext {
        position: $slideShow-button-position;
        right: $slideShow-button-distance-sides;
    }

    &-number {   
        position: absolute;
        top: 210%;
        left: 50%;
        color: $secondary-color;
    }

}
