@import 'variables'; // Importation des variables

.slideshow {

    &-chevrons {
        display: flex;
        justify-content: space-between;
        position: $slideShow-button-position;
        top: 250px;
        font-size: 100px;
        color: $secondary-color;
    }

    &-chevronPrev {
        position: $slideShow-button-position;
        left: $slideShow-button-distance-sides;
    }

    &-chevronNext {
        position: $slideShow-button-position;
        right: $slideShow-button-distance-sides;
    }

}
