@import 'variables';
@import 'variablesMedia';  

.tag {
    background-color: $tertiary-color;
    padding: $padding-tag;
    border-radius: $card-border-radius;
    font: $font-tag;
    color: $secondary-color;
    text-align: center;

    @media (max-width: $media-queries-mobile) {
        font: $media-font-tag;
        padding: $media-padding-tag;
    }

}