$primary-color: black; 
$secondary-color: white; 
$tertiary-color:  #FF6060;

$font-text: 'Montserrat';

$margin-logo-red: 5% 2.5%;
$margin-logo-hori: 5%;
$margin-logo-vert: 2.5%;
$gap : 50px;
$logo-height: 48px;

$link-decoration: none;
$link-decoration-hover: underline;
$font-nav : 500 24px $font-text;
$font-nav-line-height : 34.22px;
$home-banner-background-image: url('../../assets/image/image_background.png');

$padding-logo-white: 50px 0 20px 0;
$logo-width: 80px;

$banner-height: 223px;
$banner-width: 90vw;
$banner-margin: 0 auto;

$text-position: translate(-50%, -50%);
$font-banner: 700 48px/68.45px $font-text;

$superCard-color: #F6F6F6;
$superCard-padding: 30px;
$superCard-margin: 30px;

$height-index: 100vh;

$card-width: 340px;
$card-border-radius: 10px;
$card-font : 700 18px $font-text;

$about-banner-background-image: url('../../assets/image/image_background_2.png');

$font-404 : 700 288px $font-text;
$font-notFound-message : 500 36px $font-text;
$font-notFound-backHome : 500 18px $font-text;
$cover-border-radius: 25px;

$padding-tag : 5px 30px;
$font-tag : 700 14px $font-text;
$star-width-height : 25px;

$slideShow-button-position : relative;
$slideShow-button-top : 50%;
$slideShow-button-z-index : 1;
$slideShow-button-distance-sides : 2%





