$media-logo-height: 33px;

$media-margin-logo-red: 15px 30px;
$media-gap : 25px;

$media-font-nav : 500 12px 'Montserrat';
$media-font-nav-line-height : 17.11px;

$madia-font-banner: 700 24px/24px Montserrat;