$media-queries-mobile: 768px;

$media-logo-height: 33px;

$media-margin-logo-red: 15px 30px;
$media-margin-logo-hori: 2.5%;
$media-margin-logo-vert: 2.5%;
$media-gap : 25px;

$media-font-nav : 500 12px $font-text;
$media-font-nav-line-height : 17.11px;

$media-font-banner: 700 24px $font-text;

$media-font-404 : 700 96px $font-text;
$media-font-notFound-message : 500 18px $font-text;
$media-font-notFound-backHome : 500 14px $font-text;

$media-superCard-padding: 15px;
$media-superCard-margin: 15px;

$media-padding-tag : 3px 20px;
$media-font-tag : 700 10px $font-text;