$primary-color: black; // Couleur principale
$secondary-color: white; // Couleur secondaire
$tertiary-color: red;
$font-text: Montserrat;

$margin-logo-red: 40px 80px;
$gap : 50px;
$logo-height: 68px;

$link-decoration: none;
$link-decoration-hover: underline;
$font-nav : 500 24px 'Montserrat';
$nav-line-height : 34.22px;
$banner-background-image: url('../../assets/image/image_background.png');

$padding-logo-white: 50px 0 20px 0;
$logo-width: 122px;

$banner-height: 223px;
$banner-width: 90vw;
$banner-margin: 0 auto;

$text-position: translate(-50%, -50%);
$font-banner: 700 48px/68.45px Montserrat;

$superCard-color: #F6F6F6;
$superCard-padding: 30px;
$superCard-margin: 30px;

$height-index: 100vh;

$card-width: 340px;
$card-border-radius: 10px;
$card-font : 700 18px 'Montserrat';

$about-banner-background-image: url('../../assets/image/image_background_2.png');
