$primary-color: black; // Couleur principale
$secondary-color: white; // Couleur secondaire
$margin-logo-red: 40px 80px;
$gap : 50px;
$link-decoration: none;
$link-decoration-hover: underline;
$padding-logo-white: 50px 0 20px 0;
$logo-width: 122px;
